<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sherlock.mapper.SpringBootDemoMapper">

    <select id="selectAll" resultType="org.sherlock.model.User">
        SELECT id, name, age, sex FROM user
    </select>

    <select id="selectOne" resultType="org.sherlock.model.User">
        SELECT id, name, age, sex FROM user where id = ${id}
    </select>
</mapper>